<?xml version="1.0"?>
    <launch>
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="worlds/test_walls.world" />
            <arg name="paused" value="false" />
            <arg name="use_sim_time" value="true" />
            <arg name="gui" value="true" />
            <arg name="recording" value="false" />
            <arg name="debug" value="false" />
        </include>
        <param name="robot_description" command="$(find xacro)/xacro '$(find myrobot_simulator)/urdf/myrobot.gazebo.xacro'" />
        <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
                args="-urdf -model myrobot -param robot_description -x 0 -y 0 -z 2.719 -R 0 -P 0 -Y -0"/>
    </launch>